@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 id="jumboHeader"><b>Reading At Juban</b></h1>
    <h3> WELCOME TO OUR ONLINE BOOKSTORE! </h3>
</div>

<div class="row">
    <div class="col-md-6">
        <h2 class="indexHeader">Are you a salesperson?</h2>
        <p class="headingOne">
            Please click below for our latest products available for sale: <br /> <br />
        </p>
        <p class="buttonOne"><a class="btn btn-success" href="/Products/AllProducts/">PRODUCTS</a></p>
    </div>
    <div class="col-md-6">
            <h2 class="indexHeader">Are you an invoice collector?</h2>
            <p class="headingOne">
                Please click below for an updated list of our active customers: <br /> <br />
            </p>
            <p class="buttonOne"><a class="btn btn-success" href="/Customers/AllCustomers/">CUSTOMERS</a></p>
        </div>
</div>

<div class="row">   
    <hr />
    <div class="col-md-12">
        <h2 class="aboutHeader">About The Owner</h2>
        <p class="aboutMe">
            I am Kathleen Juban, a First Year IT: Programmer Analyst student at New Brunswick Community College. <br /> <br />
            --------------------------------------------------------------------------------------------------------------------------  Carpe diem. <br /> <br />
            Below is a link to my Github Project:
        </p>
        <p class="aboutMe"><a class="btn btn-default" href="https://github.com/kathleenjuban"> Github &raquo;</a></p>        
    </div>
</div>