@{
    ViewBag.Title = "Payments";
}

<h2 id="paymentHeading">Customer Payments</h2>

<h1 id="paymentRemarks">Please click below link to verify that a successful payment has been made.</h1>

@*Link to view the customer payments posted*@
<a id="paymentsLink" href="https://developer.squareup.com/explorer/square/payments-api/list-payments?appId=sq0idp-gjRRATVB4QgpRDeS7dQBgA&env=sandbox&prefill=create-payment">Square Payments</a>
