<h2 id="statMainHeading">Books App Statistics</h2>

<p id="statComments">
    Please click below links to check any top five items in the Books Application:
</p>

@*Link to view top five sales by invoice*@
<a class="statHeading" href="/Invoices/TopFiveInvoices">Top Five Sales By Invoice</a>
<br />
<br />
<br />

@*Link to view top five highest-priced products*@
<a class="statHeading" href="/Products/TopFiveProducts">Top Five Highest-Priced Products</a>